* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat", sans-serif;
}
body main {
  width: 375px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body main .logo {
  margin: 5rem 0;
}
body main .hero {
  width: 414px;
  height: 153px;
}
body main .hero .hero-left {
  width: 190px;
  height: 153px;
}
body main .hero .hero-right {
  width: 190px;
  height: 153px;
}
body main h1 {
  font-size: 2.5rem;
  color: #28283d;
  margin-bottom: 1rem;
}
body main p {
  padding: 0 2rem;
  line-height: 1.625rem;
  color: #87879d;
}
body main .download-button1 {
  width: 193px;
  height: 58px;
  border-radius: 2rem;
  border: 0;
  background-color: #4d96a9;
  color: #ffffff;
  margin-bottom: 1rem;
}
body main .download-button1 span {
  color: #8fe3f9;
}
body main .what-is-it-button {
  width: 139px;
  height: 58px;
  border-radius: 2rem;
  border: 0;
  background-color: #855fb1;
  color: #ffffff;
  margin-bottom: 1rem;
}
body main .line {
  width: 1px;
  height: 84px;
  border: 0;
  position: relative;
  top: 1px;
  background-color: #87879d;
}
body main .circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid #87879d;
  margin-bottom: 2rem;
  z-index: 100;
  background-color: white;
}
body main .circle p {
  position: relative;
  right: 12px;
}
body main .models {
  width: 327px;
  height: 310px;
}
body main .models img {
  width: 151px;
  height: 143px;
  padding: 5px 5px;
  border-radius: 1rem;
}
body main h2 {
  font-size: 1rem;
  color: #4d96a9;
  margin-bottom: -1rem;
}
body main .smarter-meetings {
  padding: 0 2rem;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #28283d;
}
body main .send-message {
  color: #87879d;
  margin-top: -1rem;
}
body main footer {
  margin-top: -55px;
  position: relative;
  height: 428px;
  background-image: url("starter-code/assets/mobile/image-footer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
body main footer h3 {
  color: #fafafa;
  font-size: 2rem;
  line-height: 36px;
  position: relative;
  z-index: 10;
  margin-top: 5rem;
}
body main footer p {
  font-size: 1.125rem;
  color: white;
  position: relative;
  z-index: 10;
  margin-bottom: 3rem;
}
body main footer .download-button2 {
  width: 193px;
  height: 58px;
  border-radius: 3rem;
  background-color: #855fb1;
  border: 0;
  position: relative;
  z-index: 10;
  color: white;
}
body main footer .download-button2 span {
  color: #d9b8ff;
}
body main footer::before {
  position: absolute;
  display: block;
  background-color: #4d96a9;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  body main {
    width: 768px;
    /* Hover state */
  }
  body main .hero {
    width: 768px;
    height: 303px;
  }
  body main .hero .hero-left {
    width: 380px;
    height: 303px;
  }
  body main .hero .hero-right {
    width: 380px;
    height: 303px;
  }
  body main .main-text-and-buttons {
    margin-bottom: 3rem;
  }
  body main .main-text-and-buttons h1 {
    font-size: 3rem;
  }
  body main .main-text-and-buttons .meet-text {
    padding: 0 11rem;
  }
  body main .main-text-and-buttons .download-button1 {
    display: inline;
    margin-right: 1rem;
  }
  body main .main-text-and-buttons .what-is-it-button {
    display: inline;
  }
  body main .models {
    display: flex;
    flex-direction: row;
    width: 689px;
    height: 156px;
    margin-top: 1rem;
  }
  body main .models img {
    width: 164px;
    height: 156px;
  }
  body main h2 {
    letter-spacing: 4px;
  }
  body main .smarter-meetings {
    font-size: 2.5rem;
    padding: 0 10rem;
    line-height: 2.75rem;
  }
  body main .send-message {
    padding: 0 6rem;
  }
  body main footer {
    height: 428px;
    background-image: url("starter-code/assets/tablet/image-footer.jpg");
    background-size: contain;
  }
  body main footer h3 {
    margin-top: 6rem;
    font-size: 2.5rem;
    padding: 0 10rem;
  }
  body main footer p {
    padding: 0 6rem;
  }
  body main .download-button1:hover {
    cursor: pointer;
    background-color: #71C0D4;
  }
  body main .what-is-it-button:hover, body main .download-button2:hover {
    cursor: pointer;
    background-color: #B18BDD;
  }
  body main .models img:hover {
    background-color: #D8D8D8;
  }
}
@media screen and (min-width: 1440px) {
  body main {
    width: 1440px;
  }
  body main .hero {
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
  body main .main-text-and-buttons {
    width: 540px;
    position: relative;
    top: -22rem;
    margin-bottom: -15rem;
  }
  body main .main-text-and-buttons h1 {
    font-size: 4rem;
  }
  body main .main-text-and-buttons .meet-text {
    padding: 0 1rem;
  }
  body main .models {
    width: 1110px;
    height: 242px;
    justify-content: space-around;
  }
  body main .models img {
    width: 255px;
    height: 242px;
  }
  body main h2 {
    margin-top: 5rem;
  }
  body main .smarter-meetings {
    padding: 0 31rem;
  }
  body main .send-message {
    padding: 0 30rem;
  }
  body main footer {
    width: 1440px;
    height: 308px;
    background-image: url("starter-code/assets/desktop/image-footer.jpg");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
  body main footer h3 {
    padding: 0;
    margin: 0 0 0 4rem;
    width: 350px;
  }
  body main footer div {
    width: 350px;
  }
  body main footer div p {
    margin: 0;
    padding: 0;
  }
  body main footer .download-button2 {
    margin-right: 4rem;
  }
}/*# sourceMappingURL=styles.css.map */